In [25]:
#Add the pandas dependency 
import pandas as pd

In [26]:
#Create a pandas Series from a list
pandas.DataFrame()
school_df = pd.DataFrame(high_school_dicts)
school_df

NameError: name 'pandas' is not defined

In [27]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [28]:
pandas.DataFrame()
school_df = pd.DataFrame(high_school_dicts)
school_df

NameError: name 'pandas' is not defined

In [29]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [30]:
#Initialize a new DataFrame
schools_df = pd.DataFrame()

In [31]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4