In [51]:
#Add the Pandas dependency
import pandas as pd

In [59]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

school_name = ["Huang High School", "Figueroa High School","Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District","Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "Charter", "District", "District","District", "Charter"]

In [60]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [61]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name': school_name, 'type': type_of_school}

In [62]:
#print df
schools_df

Empty DataFrame
Columns: []
Index: []